<%- include('./header2.ejs') %>


  
<div class="container-fluid mt-5 pt-5">
  <h1 class="h1 thick-underline text-center mt-5 pt-3 heading2" >
    Our Courses
  </h1>
  
  <h2 class="text-center heading mt-3 h4">Select the Course Which you want to do</h2>
 <div class="container coursepg">
  <div class="row mt-5">
    <div class="col-md-6 text-center">
    <img src="https://cdn-icons-png.flaticon.com/128/9831/9831292.png" alt="machine learning" class="img-fluid" >
    </div>
    <div class="col-md-6 text-center">
      <h1 class="h1">Machine Learning</h1>
      <h3 class="h3">Duration: 6 months</h3>
      <h5 class="h5">Fee: 7000</h5>
      
    
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btech" onclick="notlogin()">Register</button>
     
    </div>
  </div>
  <div class="row mt-5">
   
    <div class="col-md-6 text-center order-2 order-lg-1">
      <h1 class="h1">Java</h1>
      <h3 class="h3">Duration: 4 months</h3>
      <h5 class="h5">Fee: 5000</h5>
      
    
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btech" onclick="notlogin()">Register</button>
    
    </div>
    <div class="col-md-6 text-center order-1 order-lg-2">
      <img src="https://cdn-icons-png.flaticon.com/128/5968/5968282.png" alt="machine learning" class="img-fluid" >
      </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 text-center">
    <img src="https://cdn-icons-png.flaticon.com/128/1042/1042009.png" alt="machine learning" class="img-fluid" >
    </div>
    <div class="col-md-6 text-center">
      <h1 class="h1">Data Structure</h1>
      <h3 class="h3">Duration: 6 months</h3>
      <h5 class="h5">Fee: 8000</h5>
      
    
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btech" onclick="notlogin()">Register</button>
     
    </div>
  </div>
  <div class="row mt-5">
   
    <div class="col-md-6 text-center order-2 order-lg-1">
      <h1 class="h1">Web Development</h1>
      <h3 class="h3">Duration: 5 months</h3>
      <h5 class="h5">Fee: 10000</h5>
     
    
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btech" onclick="notlogin()">Register</button>
     
    </div>
    <div class="col-md-6 text-center order-1 order-lg-2">
      <img src="https://cdn-icons-png.flaticon.com/128/7991/7991055.png" alt="machine learning" class="img-fluid" >
      </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 text-center">
    <img src="https://cdn-icons-png.flaticon.com/128/2779/2779775.png" alt="machine learning" class="img-fluid" >
    </div>
    <div class="col-md-6 text-center">
      <h1 class="h1">Grrphic Designing</h1>
      <h3 class="h3">Duration: 6 months</h3>
      <h5 class="h5">Fee: 8000</h5>
      
    
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#btech" onclick="notlogin()">Register</button>
     
    </div>
  </div>
 </div>
</div>
<script>
  function notlogin() {
    // Replace 'Your alert message here' with the message you want to show in the alert box
    alert('First login or register');
  }
  </script>
 <%- include('./footer.ejs') %>