<footer class="mt-5">
    <div class="container-fluid" >
      <div class="row">
        <div class="col-md-5 text-center">
          <a href="">
          <img  src="https://cdn-icons-png.flaticon.com/128/5000/5000269.png" alt="" class="img mt-7"></a>
        </div>
        <div class="col-md-7">
          <h1 class="display-6 mt-5" style="font-family: prague;"><b style="color: #0606aa">CONTACT</b> US</h1>
          <p class="p" style="font-size: 18px;">  With a diverse range of courses offered, we cover a wide array of subjects, including technology, business, arts, languages, and more. Our courses are carefully crafted and designed by experienced instructors who are experts in their respective fields. Whether you are a professional looking to upskill, a student seeking supplementary learning resources, or an individual pursuing personal interests, we have something for everyone.</p>
          <div class="container-fluid">
            <div class="row">
            <div class="col-md-6">
              <p  style="color: #0606aa; font-size: 20px;">Address</p>
              <p style="font-family: 'Montserrat',sans-serif; font-size: 15px; letter-spacing: 1px; margin-top: -11px;">6, Chanakyapuri Shopping Complex, 48, Malcha Marg, New Delhi 110021</p>
            </div>
            <div class="col-md-6">
              <p  style="color: #0606aa; font-size: 20px;">Franchise Enquiry</p>
              <p style="font-size: 15px; margin-top: -11px; font-family: 'Montserrat',sans-serif;">Mobile: <b style="color: #0606aa;">+91 934545454545</b></p>
              <p style="font-size: 15px; margin-top: -14px; font-family: 'Montserrat',sans-serif;">Email: <b style="color: #0606aa;">virtualedu@gmail.com</b></p>
            </div>
            </div><!--Address row end-->
          </div>  <!--container fluid end--> 
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p  style="color: #0606aa; font-size: 20px;">HR Enquiry</p>
                <p style="font-size: 15px; margin-top: -11px; font-family: 'Montserrat',sans-serif;">Mobile: <b style="color: #0606aa;">+91 9999666666</b></p>
              <p style="font-size: 15px; margin-top: -14px; font-family: 'Montserrat',sans-serif;">Email: <b style="color: #0606aa;">virtualedu@gmail.com</b></p>
              </div>
              <div class="col-md-6">
                <p  style="color: #0606aa; font-size: 20px;">Other Enquiry</p>
                <p style="font-size: 15px; margin-top: -14px; font-family: 'Montserrat',sans-serif;">Email: <b style="color: #0606aa;">virtualedu@gmail.com</b></p>
              </div>
            </div> <!--row end-->
          </div> <!--container fluid end-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <i class="fa-brands fa-linkedin i"></i>
                <i class="fa-brands fa-square-facebook i"></i>
                <i class="fa-brands fa-twitter i"></i>
                <i class="fa-brands fa-instagram i"></i>
              </div>
            </div>
          </div>       
        </div>
      </div> <!--row end-->
    </div> <!--container fluid end-->
  
  </footer> <!--footer end-->
  <script>
     function enroll() {
    // Replace 'Your alert message here' with the message you want to show in the alert box
    alert('First login or register');
  }
  </script>
</body>
</html>